<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ariasoft corporation</title>
    <script src="./tw.js"></script>
    <script src="./htmx.min.js"></script>
</head>
<body>
    <div class="mx-7 my-2">
        <nav class="mb-3">
            <div class="text-base/tight mb-1">
                <h1 class="text-4xl text-center sm:text-left">ariasoft corporation</h1>
                <div class="flex justify-between">
                    <small id="motd"></small>
                    <small>sponsored by JcJenson</small>
                </div>
            </div>
            <div class="grid grid-flow-col text-center sm:flex sm:items-center text-white *:cursor-pointer bg-violet-700 *:hover:bg-violet-800 *:hover:text-yellow-300 sm:*:px-3">
                <a hx-get="pages/home.html" hx-target="#body">home</a>
                <a hx-get="pages/ai.html" hx-target="#body">ai</a>
                <a href="jamalcoin/">jamal coin</a>
                <a hx-get="pages/about.html" hx-target="#body">about</a>
            </div>
        </nav>
        <div id="body" hx-get="pages/home.html" hx-trigger="load" class="[&_a]:text-blue-700 [&_a]:hover:text-blue-900 [&_a]:underline"></div>
        <br>
        <footer class="border-t">
            <i>copyright &copy; 1997 ariasoft</i>
        </footer>
    </div>
</body>
<script type="module" src="./lib.js"></script>
</html>